$btn-color: #fcb303;
$icons-color: #46b814;
$text: #1a1820;
$danger: #f00;
$bg-light: #f5f5f5;
$light: #fff;
$border-input: #dddddd;

@font-face {
  font-family: "ProximaNova-regular";
  src: url("/src/fonts/ProximaNova-Bold.eot");
  src: local("☺"), url("/src/fonts/ProximaNova-Regular.woff") format("woff"),
    url("/src/fonts/ProximaNova-Regular.ttf") format("truetype"),
    url("/src/fonts/ProximaNova-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ProximaNova-bold";
  src: url("/src/fonts/ProximaNova-Bold.eot");
  src: local("☺"), url("/src/fonts/ProximaNova-Bold.woff") format("woff"),
    url("/srcfonts/ProximaNova-Bold.ttf") format("truetype"),
    url("/srcfonts/ProximaNova-Bold.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}
@mixin reg {
  font-family: "ProximaNova-regular";
}
@mixin bold {
  font-family: "ProximaNova-bold";
}

body{
  @include reg;

}
.header {
  background: #fff url(../img/main-bg.png) center center no-repeat;
  background-size: cover;
  padding-top: 1rem;

  // .header__top

  &__top {
  }

  // .header__top-inner

  &__top-inner {
  }

  // .header__row

  &__row {
  }

  // .header__row-left

  &__row-left {
  }

  // .header__row-right

  &__row-right {
  }

  // .header__row-right-block

  &__row-right-block {
    background: $light;
    height: 25rem;
    text-align: center;

  }
}
.container {
}
.row {
}
.logo {

  // .logo__link

  &__link {
  }

  // .logo__img

  &__img {
  }
}
.col-xl-3 {
}
.col-lg-3 {
}
.col-md-3 {
}
.col-xl-4 {
}
.col-md-2 {
}
.phone {

  // .phone__link

  &__link {
  }

  // .phone__text

  &__text {
    text-decoration: none;
    color: #1a1820;
    height: 4rem;
    line-height: 4rem;
    font-size: 1.1rem;
    @include bold;
  }
}
.col-xl-2 {
}
.col-md-4 {
}
label{
  margin-top: 0.4rem;
  font-size: 0.8rem;
  background-color: $light;
  padding: 0.6rem;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
}
.btn {

  // .btn__link-header

  &__link-header {
    display: table;
    font-size: 0.8rem;
    border-radius: 10px;
    border: none;
    background: #fcb303;
    color: $light;
    margin-top: 0.3rem;
    padding: 1rem;
    transition: all 0.2s;
  &:hover {
    cursor: pointer;
    background-color: #808080;
  }
  }

  // .btn__link-row-right

  &__link-row-right {
    font-size: 0.9rem;
    border-radius: 10px;
    border: none;
    background: #fcb303;
    color: $light;
    margin-top: 0.3rem;
    padding: 1.2rem 3rem;
  }
}
.col-xl-6 {
}
.col-lg-4 {
}
.col-md-12 {
}
.text {

  // .text__title-left

  &__title-left {
    @include bold;
    font-size: 1.6875rem;
    padding-top: 4rem;
  }

  // .text__subtitle-left

  &__subtitle-left {
    padding-top: 2.5rem;
    padding-bottom: 3rem;
    font-size: 1.0625rem;
  }

  // .text__form-header-left

  &__form-header-left {
    text-align: center;
    background-color: #46b814;
    color: #fff;
    display: block;
    padding-top: 1rem;
    padding-bottom: 0.4rem;
  }

  // .text__row-header-left

  &__row-header-left {
    @include bold;
    padding-top: 1.5rem;
    font-size: 1.1rem;
    padding-bottom: 4rem;
  }
}
.col-lg-5 {
}
.tetx {

  // .tetx__title-right

  &__title-right {
    margin-top: 4.1rem;
    display: block;
    font-size: 1.2rem;
    text-align: center;
    padding-top: 2rem;
  }

  // .tetx__right-row

  &__right-row {
    padding-top: 0.4rem;
    font-size: 0.7rem;
  }
}
.input {
  
}
.main-form-input {
  display: block;
  width: 60%;
  padding: 1rem;
  border: 1px solid #dddddd;
  margin-left: 4.2rem;
  margin-bottom: 1rem;
  margin-top: 1.6rem;
  outline: none;
  border-radius: 5px;
}
.sector-benefits {

  // .sector-benefits__title

  &__title {
    @include bold;
    font-size: 1.6rem;
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 7rem;
  }

  // .sector-benefits__collums

  &__collums {
    padding-bottom: 6rem;
  }
}
.title-black {
}
.sextor-benefits {

  // .sextor-benefits__item

  &__item {
    text-align: center;
  }
}
.icon {
}
.item {

  // .item__title

  &__title {
    @include bold;
    padding-top: 3rem;
    padding-bottom: 2rem;
    font-size: 1.2rem;
  }

  // .item__text

  &__text {
    font-size: 0.9rem;
  }
}
.sector-price {
  background: #fff url(../img/bg-price.jpg) center center no-repeat;
  background-size: cover;

  // .sector-price__header

  &__header {
    padding-top: 4rem;
  }

  // .sector-price__title

  &__title {
    color: #fff;
    @include bold;
    text-align: center;
    font-family: "ProximaNova-bold";
    font-size: 1.6rem;
    text-align: center;
  }

  // .sector-price__subtitle

  &__subtitle {
    padding-top: 2rem;
    color: #fff;
    @include reg;
    font-size: 0.8rem;
    text-align: center;
  }

  // .sector-price__collums

  &__collums {
  }

  // .sector-price__collum

  &__collum {
  }
}
.title-white {
}
.subtitle-white {
}


.btn-link {

  // .btn-link__price

  &__price {
  }
}
.button {

  
}



.collum {

  // .collum_image

  &_image {
  }

  // .collum__title

  &__title {
  }

  // .collum__price

  &__price {
  }

  // .collum__points

  &__points {
  }

  // .collum__btn

  &__btn {
  }
}
.point {
}

@media (max-width: 991px) {
.phone__link {
  text-align: center;
}
.header__row-left {
  text-align: center;
}
.text__title-left {
  padding-top: 2rem;
}
.header__row-right {
  display: flexbox;
  padding-bottom: 3rem;
 text-align: center;
 justify-content: space-evenly;
 margin-left: auto;
 margin-right: auto;
  

}
.text__row-header-left {
  padding-bottom: 1rem;
}
.text__form-header-left {
  display: inline-block;
  text-align: center;
}
.header__row-right-blok {
}
}

@media (max-width: 767px) {
  .header__top {
    text-align: center;
  }
  .btn__link-header {
    display: inline-block;
    text-align: center;
  }
  .header {
    background-position: top left;
  }
}
